*{ /* Se reinician los estilos propios del navegador */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html { /* Con esto te aseguras que la grilla ocupe el 100% de la pantalla */
    height: 100%;
	
}
body { /* Estilo de fuentes para los contenedores */
	background-color: #40f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
	color:ghostwhite;
    min-height: 100%;
    
}
.titulo img{
	height: 50px;

}
.novedades img{
	max-width: 33%;
	height: auto;
	border-radius: 10%;
}
.container img{
	max-width: 33%;
	height: auto;
	border-radius: 10%;
}

.promociones img {
	max-width: 33%;
	height: auto;
	border-radius: 10%;
}
	
.menuprincipal {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
	font-size: 20px;
	background-color: #ffff;
	text-align: right;
	}
	
.menuprincipal {
	list-style: none;
		
	}
	
.menuprincipal li {
	display: inline-block;
	
	}
.menuprincipal li a{
	color: #40f0f0;
	text-decoration: none;
	}
	
		
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: black;
	background-color: #c7d0d8;
	color: black;
	text-align: center;
}

#comoComprar
#contacto .informacionImportante{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}